<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
    <!-- 允许App的Documents目录在文件App中显示 -->
    <key>UIFileSharingEnabled</key>
    <true/>
    <!-- 支持在文件App中原位打开文件（无需复制），iOS 11+推荐添加 -->
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
</dict>
</plist>
